.swiper-container.swiper-container-horizontal {
  height: 132px;
}

.swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  height: 360px;
}

.col3 {
  margin: 29px;
  /* margin: 80px; */

  font-size: 14px;
}

.textHome {
  font-size: 15px;
  margin: 10px;
}

.HomeImg {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .swiper-container.swiper-container-horizontal {
    height: 382px;
  }
}
