.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.centerTitle {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a.NavMenu {
  text-decoration: none;
  color: #e6eeea;
  padding-right: 10px;
  font-weight: bold;
  font-size: 22px;
}

a.side {
  text-decoration: none;
  color: black;
  margin-left: 30px;
  font-size: 20px;
}

.classHome {
  font-size: 30px;
  display: flex;
}

#root .App header.menuColor {
  background: #86d6d3;
}

.MuiAppBar-colorPrimary-8.menu-top {
  background-color: rgb(95, 238, 138);
}

.contaTable {
  margin-top: 80px;
}

@media screen and (min-width: 650px) {
  #app-container {
    padding-left: 41.666%;
  }
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
nav a {
  padding: 10px;
  background: #4f3c5f;
  display: block;
  margin: 6px;
  color: #fff;
  text-decoration: none;
}
@media screen and (min-width: 650px) {
  nav {
    left: initial;
    right: 0;
    text-align: left;
  }
}

.portfolio-fixed {
  /* background: url("../images/portfolio-bg.jpeg"); */
  background-size: cover;
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  color: #fff;
  /* Mobile Styles */
  padding: 30px 0;
}
@media screen and (min-width: 650px) {
  .portfolio-fixed {
    position: fixed;
    padding: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 41.67%;
  }
}

.portfolio-fixed img {
  max-width: 132px;
  box-shadow: 4px 5px 12px #999;
  border-radius: 50%;
  display: block;
  margin: 10px auto;
}

.portfolio-fixed > * {
  text-align: center;
  flex-basis: 100%;
}

.portfolio-fixed h1 {
  font-weight: 500;
  margin-bottom: 8px;
}

.portfolio-fixed p {
  color: black;
  font-weight: 300;
  font-size: 31px;
  margin-top: 0;
}

.profile-content {
  padding-bottom: 4rem;
}

.degree {
  margin-top: 25px;
}

.degree__institute {
  font-size: 18px;
  color: #666;
  margin: 5px 0;
}

.degree__field {
  font-size: 16px;
  color: #aaa;
  margin: 5px 0;
}

.degree__dates {
  font-size: 12px;
  margin: 5px 0;
}

/* header {
  padding: 20px 0 15px;
  text-align: center;
}
header h2 {
  margin: 0;
} */

section {
  padding: 20px;
  max-width: 600px;
  font-size: 1.25em;
  color: #bbb;
  margin: 0 auto;
  font-weight: 300;
}

section h4 {
  color: #a5677a;
}

.skills-list {
  text-align: left;
}

.skills-list__single {
  display: inline-block;
  vertical-align: center;
  padding: 10px 15px;
  background: #ededed;
  margin: 5px 5px 5px 0px;
  color: #4f3c5f;
}

.contactinfo__single {
  line-height: initial;
  display: block;
  width: 100%;
  border-bottom: 1px solid #ddd;
  margin-bottom: 30px;
  padding: 5px;
  text-decoration: none;
}

.contactinfo__single:hover {
  /* background: url("../images/grey.png"); */
}
.contactinfo__single:hover .contactinfo__title {
  color: #00bcd4;
}

.contactinfo__title {
  color: #aaa;
  display: inline-block;
  align-content: center;
  vertical-align: middle;
  width: 100%;
  font-weight: 300;
  width: 90%;
}

.contactinfo__icon {
  display: inline-block;
  align-content: end;
  vertical-align: middle;
  color: #e7aaa5;
  text-align: center;
  font-size: 32px;
  width: 8%;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #333;
}

.project {
  margin-bottom: 4rem;
  width: 100%;
  margin: 0 auto 10px auto;
  background: #eee;
  padding: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.project--solo {
  border-left: 12px #a5677a solid;
  color: #a5677a;
}

.project--team {
  border-left: 12px #4f3c5f solid;
  color: #4f3c5f;
}

.project__title {
  font-size: 18px;
  margin-top: 0;
}

.project__type {
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  font-size: 0.675em;
  margin-right: 10px;
  padding: 0 7px;
  width: 60px;
  text-align: center;
  color: #aaa;
}

.projects__icon {
  font-size: 21px;
  margin-top: 0;
  margin-bottom: 5px;
}

.project-types-list {
  text-align: right;
  margin-bottom: 10px;
  font-size: 0;
}

.project-type {
  font-size: medium;
  padding: 10px 16px;
  border-bottom: 1px solid #ddd;
  display: inline-block;
  border-bottom: #aaa 4px solid;
  color: #aaa;
}

.project-type--selected {
  background: #f0f0f0;
}

.project-type--solo {
  border-bottom: #a5677a 4px solid;
  color: #a5677a;
}

.project-type--team {
  border-bottom: #4f3c5f 4px solid;
  color: #4f3c5f;
}

.techlist {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.techlist--hidden {
  display: none;
}

.techlist__icon {
  width: 24%;
  margin: 0.5%;
  font-size: 80px;
  border: 1px solid #ddd;
  text-align: center;
}

.job-timeline {
  padding-left: 25px;
}

.job {
  color: #666;
  border-left: 2px solid #333;
  position: relative;
  padding-left: 40px;
  padding-bottom: 30px;
}

.job__years {
  background: #666;
  color: #fff;
  border-radius: 50%;
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  align-content: center;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-50%);
}

.job__start {
  width: 100%;
  font-size: 12px;
  margin: 0;
}

.job__end {
  width: 100%;
  font-size: 12px;
  margin: 0;
}

.job__title {
  margin: 3px 0;
  font-size: 21px;
}

.job__company {
  font-size: 18px;
  color: #aaa;
}

.job__description {
  font-size: 14px;
}

.job__responsibilities {
  margin-bottom: 0;
}

.job__responsibilities li {
  margin-bottom: 3px;
  font-size: 14px;
}

.MuiToolbar-root-59.MuiToolbar-regular-61.Dashboard-toolbar-2 {
  min-height: 4px;
}

/* header.MuiPaper-root-32.MuiPaper-elevation4-38.MuiAppBar-root-23.MuiAppBar-positionAbsolute-25.MuiAppBar-colorPrimary-30.Dashboard-appBar-4 {
  height: 65px;
}

.MuiIconButton-colorInherit-64.Dashboard-menuButton-6 {
  margin-right: -64px;
} */

/* h1.MuiTypography-root-81.MuiTypography-h6-98.MuiTypography-colorInherit-110.MuiTypography-noWrap-107.Dashboard-title-8 {
  margin-right: 637px;
} */
